@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.count{
    width: 345px;
    height: 116px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}
.quantidade{
    background-color: #f8f9fa;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px 0px 12px ;
}
.preco{
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 0px 12px 0px 12px ;
}
